.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: url(../img/photos/wall_2.jpg) no-repeat center/cover;
}




/* --- MAIN SECTION --- */
main {
    flex-grow: 1;
    background-color: #3f404169;
}

.post {
    width: 60%;
    border-radius: 6px;
    height: fit-content;
    background-color: aliceblue;
    padding: 1em 32px;
    margin: 50px auto 150px;
}

.post__title {
    color: var(--main-color);
    margin-bottom: .3em;
}

/* Ajusta los margenes del icono con el texto */
p > .fa-calendar-days {margin: 0 .3em;}

.post__date {
    color: #54595c;
    font-size: .81em;
    margin-bottom: 2em;
}

.post__image {
    margin: 2em auto 2.4em;
    display: block;
    width: 75%;
    height: 15em;
    object-fit: contain;
}

.post__description {
    text-align: justify;
    margin-bottom: .5em;
}




/* --- RESPONSIVE DESIGN --- */
@media (width <= 768px) {
    /* --- MAIN SECTION --- */
    .post {
        width: 90%;
        padding: 1.5em;
        margin-bottom: 100px;
    }
    .post__image {
        width: 90%;
        height: 12em;
    }
}