/* --- GENERAL STYLES --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

:root {
    --main-color: #3564CA;
    --secundary-color: #E3E7F0;
    --white: #f8f9fa;;
    --highlither: #5A80D3;
    --hover-color: #cfe8f8;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: url(../img/backgrounds/books.jpg) no-repeat center/cover;
}




/* --- HEADER SECTION --- */
.header {
    background-image: linear-gradient(135deg, #1758a7, #136baf, #1758a7);
    border-bottom: 1.5px solid rgb(35, 76, 138);
    padding: 20px 0 12px;
    position: sticky;
    top: 0px;
    z-index: 40;
}

/* Estilos del logo, título y las redes sociales */
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    position: relative;
}

.header__logo {
    width: calc(95px + 1.2dvw);
    object-fit: cover;
    position: absolute;
    padding-right: 15px;
    margin-top: 27px;
    right: 86%;
}

.header__title {
    color: aliceblue;
    text-align: center;
    font-size: clamp(15px, 2.9dvw, 26px);
    flex-basis: auto;
    flex-grow: 2;
    margin-left: 50px;
    font-weight: bold;
}

.header__social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.social-media__li {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.social-media__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media__logo {
    width: 2.2em;
    height: 2.2em;
    object-fit: cover;
    color: white;
    transition: transform 0.25s ease;
}

.social-media__logo:hover {transform: scale(1.1);}


/* Barra de navegacion */
.header__nav {
    margin: auto;
    width: 74%;
    position: relative; /* Para poder ver posicionar el button del Menu Hamburguesa */
}

/* Botón hamburguesa (oculto por defecto) */
.nav__hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    left: -15px;
    top: -40px;
    z-index: 30;
}

.hamburger-icon, .close-icon {
    width: 30px;
    height: 30px;
    color: white;
}

/* Enlaces */
.nav__ul {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(20px, 2vw, 30px);
    padding-left: 15px; /* Evita acercarse al logo */
}

.ul__item {
    text-align: center;
    flex-basis: auto;
    list-style: none;
    border-radius: 6px;
    padding: 6px;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.ul__link {
    color: aliceblue;
    text-decoration: none;
}

.ul__item:hover {background-color: rgb(56, 56, 56);}

/* El enlace del link del Login */
.ul__item--sign-in {background-color: rgb(78, 143, 204);}




/* --- MAIN SECTION --- */
main {
    flex-grow: 1;
    background-color: #3f404169;
}

.main__title {
    color: aliceblue;
    background-color: var(--main-color);
    width: fit-content;
    font-size: clamp(18px, 2.8dvw, 23px);
    padding: .4em .9em;
    display: block;
    border-radius: 6px;
    margin: 40px 15% 40px;
}


.table-container {
    width: 85%;
    margin: auto;
    margin-bottom: 150px;
    padding-top: 1.2em;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: clamp(10px, 1.2dvw, 15px);
}


.icons-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 1.2em;
}

/* Ordenamiento */
.order-wrapper {
    display: flex;
    gap: .8em;
    text-align: center;
}
.order-wrapper > label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-by {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0px 10px;
    transition: border-color 0.3s;
}    
.order-by:hover {
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}
.order-by:focus {
    outline-color: var(--highlither);
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}


/* Botones de estado */
.status-buttons-wrapper {
    display: flex;
    gap: .5em;
}
.status-buttons-wrapper > button {
    width: 6em;
    border-radius: 6px;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    transition: background-color .1s ease-in-out;
}
.save {background-color: #37b958;}
.cancel {background-color:#54595c;}
.save:hover {
    cursor: pointer;
    background-color: #2c9647;
}
.cancel:hover {
    cursor: pointer;
    background-color:#3f4041;
}


/* Botones de acción */
.action-buttons-wrapper {
    display: flex;
    gap: .5em;
}
.action-buttons-wrapper button {
    width: 38px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: box-shadow .1s ease-in-out;  
}
.action-buttons-wrapper button:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
    cursor: pointer;
}
.action-buttons-wrapper i {
    color: var(--hover-color);
    font-size: 2em;
}
.edit {font-size: .75em;}
.add {font-size: .9em;}


/* Sección de la tabla */
.professors {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden; /* Para evitar que el borde redondo rompa */
    font-size: clamp(10px, 1.2dvw, 15px);
    border-radius: 0 0 6px 6px;
}
.professors th {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}
.professors th, .professors td {
    padding: 1.2em .5em;
    text-align: center;
    word-break: break-word; /* Rompe palabras largas */
    white-space: normal;    /* Permite múltiples líneas */
}
.professors td {
    padding: .8em .5em;
    font-size: .95em;
}



/* Estilos para separaciom visual entre filas y hover */
.professors tbody tr:nth-child(odd) {background-color: #f8f9fa;}

.professors tbody tr:nth-child(even) {background-color: #c8d3d2;}

.professors tbody tr:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s;
}


/* Color para datos de contacto */
.email {color: #2980b9;}
.telephone {color: #16a085;}





/* --- FOOTER SECTION --- */
.footer {
    border-top: 1.5px solid rgb(27, 27, 27);
    background-image: linear-gradient(135deg, #3f4041, #54595c, #3f4041);
    padding: 50px 30px;
}
.footer__description {
    color: aliceblue;
    text-align: justify;
    font-size: 15px;
    padding: 2px 0;
}
.footer__description:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__description:last-child {
    margin-top: 30px;
    text-align: center;
}




/* --- RESPONSIVE DESIGN --- */
@media (width <= 768px) {
    /* --- HEADER SECTION --- */
    /* Al no haber logo, la barra de navegación puede ocupar más espacio */
    .header__nav {width: 95%;}

    /* Quitamos las redes sociales del encabezado para mantener un diseño compacto */
    .header__social-media, .header__logo {display: none;}

    /* Sin el logo y las redes, centramos el titulo del encabezado */
    .header__title {margin: 0;}

    /* Barra de navegación */
    .nav__hamburger {display: block; /* Mostrar botón hamburguesa */}

    .nav__ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 55%;
        height: 100dvh;
        background-color: rgba(23, 88, 167, 0.98);
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1.8em;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        padding: 3.8em 0 0;
    }
    
    .nav__ul.active {transform: translateX(0);}
    
    .ul__item {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-align: center;
        padding: 8px 10px;
    }
    
    .nav__ul.active .ul__item {opacity: 1;}




    /* --- MAIN SECTION --- */
    .main__title {margin: 40px auto;}

    .table-container {
        width: 95%;
        padding-top: .8em;
        margin-bottom: 100px;
    }
    
    .icons-container {
        width: 90%;
        margin-bottom: 1.1em;
    }

    /* Ordenamiento */
    .order-wrapper {
        flex-direction: column;
        gap: .5em;
    }
    .order-by {
        padding: 3px 0px;
        font-size: 1em;
    }

    /* Botones de estado */
    .status-buttons-wrapper > button {
        width: 6.2em;
        padding: 5px 0px;
        align-self: center;
    }

    /* Botones de acción */
    .action-buttons-wrapper {
        gap: .8em;
    }
    .action-buttons-wrapper button {
        width: 20px;  
    }
    .action-buttons-wrapper i {
        font-size: 1.8em;
    }
    .delete {
        font-size: .9em;
    }

    /* Seccion de la tabla */
    .professors {
        width: 100%;
    }
    .professors th, .professors td {
        font-size: 8px;
        padding: 1em .3em;
    }

    


    /* --- ANIMATIONS --- */

    /* Animación para los items del menú */
    @keyframes fadeIn {
        from { opacity: 0; transform: translateX(-20px); }
        to { opacity: 1; transform: translateX(0); }
    }
    
    .nav__ul.active .ul__item {animation: fadeIn 0.3s ease forwards;}
    
    .nav__ul.active .ul__item:nth-child(1) { animation-delay: 0.1s; }
    .nav__ul.active .ul__item:nth-child(2) { animation-delay: 0.2s; }
    .nav__ul.active .ul__item:nth-child(3) { animation-delay: 0.3s; }
    .nav__ul.active .ul__item:nth-child(4) { animation-delay: 0.4s; }
    .nav__ul.active .ul__item:nth-child(5) { animation-delay: 0.5s; }
    .nav__ul.active .ul__item:nth-child(6) { animation-delay: 0.6s; }
    .nav__ul.active .ul__item:nth-child(7) { animation-delay: 0.7s; }
}