/* --- GENERAL STYLES --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

:root {
    --main-color: #3564CA;
    --secundary-color: #E3E7F0;
    --white: #f8f9fa;;
    --highlither: #5A80D3;
    --hover-color: #cfe8f8;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: url(../img/photos/wall.jpg) no-repeat top/cover;
}




/* --- MAIN STYLES --- */
main {
    flex-grow: 1;
    background-color: #3f404169;
}

.sign-in {
    background-color: rgb(227, 231, 240);
    width: 33%;
    margin: 50px auto;
    padding-bottom: .5em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sign-in__header {
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
    padding: .9em 0;
}

.header__logo {
    display: block;
    width: 4em;
    margin: 0 auto .4em;
}

.header__title {
    color: aliceblue;
    text-align: center;
    font-size: 1.9em;
}
.header__link {
    color: rgba(240, 248, 255, 0.76);
    display: block;
    width: fit-content;
    margin: .5em auto 0em;
    font-size: .85em;
    text-decoration: none;
}
.header__link:hover {
    text-decoration: underline;
}


.sign-in__inputs-container {
    width: 87%;
    margin: auto;
}

label {
    display: block;
    margin: 22px 0 6px;
    color: #333
}

.input__field {
    width: 100%;
    padding: 11px 36px 11px 33px; /* El 36 y 33 evita que rompan los iconos */
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: .95em;
    transition: border-color 0.3s;
}

.input__field:focus {
    outline: none;
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}

.input-group, .password-wrapper {position: relative;}

.input__icon {
    position: absolute;
    left: 10px;
    top: 52%;
    transform: translateY(-50%);
    color: #666;
}

/* Estilos para la contrasena */
.password-eye {
    position: absolute;
    right: 9px;
    top: 52%;
    transform: translateY(-52%);
    color: #666;
}

.fa-eye {right: 10px;} /* Corrige el centrado del ojo cuando esta abierto */

.password-eye:hover {
    cursor: pointer;
    color: #8d8b8b;
}


/* Estilos para el checbox de la sesion */
.remember-me {
    position: relative;
    font-size: .8em;
    margin: 1.5em 0 2.2em .5em;
}

.remember-me > input {
    position:relative;
    top: 2px;
    accent-color: var(--highlither);
}


button {
    display: block;
    border-radius: 6px;
    border: none;
    width: 87%;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 1em;
    background-color: #37b958;
    color: aliceblue;
    margin: 1em auto 1em;
    transition: background-color .1s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #2c9647;
}


/* Enlace al sign-up */
.sign-up-wrapper {
    display: flex;
    font-size: .76em;
    gap: 5px;
    justify-content: center;
    color: rgb(39, 39, 39);
    margin-bottom: .5em;
}

.sign-up__link {
    color: var(--highlither);
    text-decoration: none;
}

.sign-up__link:hover {text-decoration: underline;}


/* --- Mensajes --- */
.success-message {
    background-color: #e6ffe6;
    color: #2d7a2d;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: .2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: 1px solid #2d7a2d;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
}

.error-message {
    background-color: #ffe6e6;
    color: #a10000;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: .2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: 1px solid #a10000;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}




/* --- RESPONSIVE DESIGN --- */
@media (width <= 768px) {
    /* --- MAIN SECTION --- */
    body {overflow: hidden;} /* Evita zoom de la imagen de fondo */

    .sign-in {width: 85%;}

    .sign-in__header {padding: .5em 0;}

    .header__logo {margin-bottom: 0 auto .3em;}

    .header__title {font-size: 1.6em;}
}