.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/* * Cambio del fondo para cada pagina */
body[data-page-type="student-management"] > .layout {
    background: url(../img/backgrounds/books.jpg) no-repeat center/cover;
}
body[data-page-type="professors-management"] > .layout {
    background: url(../img/backgrounds/library.jpg) no-repeat center/cover;
}




/* --- MAIN SECTION --- */
main {
    flex-grow: 1;
    background-color: #3f404169;
}

.main__title {
    color: aliceblue;
    background-color: var(--main-color);
    width: fit-content;
    font-size: clamp(18px, 2.8dvw, 23px);
    padding: .4em .9em;
    display: block;
    border-radius: 6px;
    margin: 40px 15% 40px;
}


.table-container {
    width: 85%;
    margin: auto;
    margin-bottom: 150px;
    padding-top: 1.2em;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: clamp(10px, 1.2dvw, 15px);
}


.icons-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 1.2em;
    height: 35px;
}

/* Ordenamiento */
.order-wrapper {
    display: flex;
    gap: .8em;
    text-align: center;
}


/*  * Estilos específicos para el filtro en gestión de estudiantes */
.form-filter {
    display: flex;
    gap: 4em;
}
.filter-group-wrapper {
    display: flex;
    gap: 4em;
}
.filter-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 155px;
}


.order-wrapper label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#order-by, .order-by {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0px 10px;
    transition: border-color 0.3s;
    width: 110px;
}    
#order-by:hover {
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}
#order-by:focus {
    outline-color: var(--highlither);
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}


/* Botones de estado */
.status-buttons-wrapper {
    display: flex;
    gap: .5em;
    display: none;
}
.status-buttons-wrapper > button, #form-button {
    flex-basis: 6em;
    border-radius: 6px;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    transition: background-color .1s ease-in-out;
}
.save {background-color: #37b958;}
.cancel {background-color:#54595c;}
.save:hover, .cancel:hover {cursor: pointer;}
.save:hover {background-color: #2c9647;}
.cancel:hover {background-color:#3f4041;}

#erase {background-color: #b12d2d;}
#erase:hover {background-color: #8f2121;}

/* * Botón del filtro del formulario de gestión de estudiantes */
#form-button {
    flex-basis: 5em;
    border-radius: 6px;
    border: none;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 1em;
    margin-left: 10px;
    color: aliceblue;
    background-color: rgb(94, 159, 245);
    transition: background-color .1s ease-in-out;
}
#form-button:hover {
    background-color: rgb(81, 140, 216);
    cursor: pointer;
}


/* Botones de acción */
.action-buttons-wrapper {
    display: flex;
    gap: .5em;
}
.action-buttons-wrapper button {
    width: 38px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: box-shadow .1s ease-in-out;  
}
.action-buttons-wrapper button:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
    cursor: pointer;
}
.action-buttons-wrapper i {
    color: var(--hover-color);
    font-size: 2em;
}
.edit {font-size: .75em;}
.add {font-size: .9em;}

/* * Estilos del Area actual */
button.user-selection {background-color: var(--highlither);}



/* Sección de la tabla */

/* General */
.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden; /* Para evitar que el borde redondo rompa */
    font-size: clamp(10px, 1.2dvw, 15px);
    border-radius: 0 0 6px 6px;
}
.table th {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}
.table th, .table td {
    padding: 12px .5em;
    text-align: center;
    word-break: break-word; /* Rompe palabras largas */
    white-space: normal;    /* Permite múltiples líneas */
}
.table td {
    font-size: .95em;
}



/* Estilos para separacion visual entre filas y hover */
.table tbody tr:nth-child(odd) {background-color: #f8f9fa;}
.table tbody tr:nth-child(even) {background-color: #c8d3d2;}

.table tbody tr:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s;
}


/* Datos de contacto */
.email {color: #2980b9;}
.telephone {color: #16a085;}

/* Notas e inasistencias */
.passing-grade { color: #27ae60; font-weight: bold; }
.failed-grade { color: #e74c3c; font-weight: bold; }
.absences { color: #f39c12; font-weight: bold; }


/* * Cambios para la tabla de academic-management */
#students-table thead tr:last-child th {background-color: #506a88;}

/* * Cambios para la tabla de professors-management */
#professors-table th {padding: 1.2em .5em;}
#professors-table td {padding: .8em .5em;}



/* Contenedor de asignaciones con scroll SIEMPRE visible */
.asignaciones-preview {
    max-height: 48px;             /* Altura para mostrar solo 2 ítems */
    overflow-y: scroll;           /* Scroll vertical siempre activo */
    scrollbar-width: thin;        /* Scroll delgado en navegadores compatibles */
    padding-right: 5px;           /* Espacio para scrollbar */
    position: relative;
}

/* Scroll personalizado para navegadores WebKit (Chrome, Edge, Safari) */
.asignaciones-preview::-webkit-scrollbar {
    width: 6px;
}

.asignaciones-preview::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

/* Estilo de los badges */
.badge {
    display: block;
    background-color: #e0e0e0;
    padding: 1px 1px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
}






/* --- RESPONSIVE DESIGN --- */
@media (width <= 768px) {
    /* --- MAIN SECTION --- */
    .main__title {margin: 40px auto;}

    .table-container {
        width: 95%;
        padding-top: .8em;
        margin-bottom: 100px;
    }
    
    .icons-container {
        width: 95%;
        margin-bottom: 2em;
    }

    /* Ordenamiento */
    .order-wrapper {
        gap: .5em;
    }


    /*  * Estilos específicos para el filtro en gestión de estudiantes */
    .form-filter {
        gap: .5em;
    }
    .filter-group-wrapper {
        flex-direction: column;
        gap: 1em;
    }
    .filter-group {
        justify-content: space-between;
        flex-basis: .2em;
        gap: 0;
        width: 120px;
    }
    /* Label */
    .filter-group label {
        font-size: .8em;
        width: 35px;
    }
    /* Select */
    .order-by {
        width: 70px;
        font-size: 1em;
    }
    #form-button {
        align-self: center;
        padding: 6px 6px;
        font-size: .8em;
    }
    .status-buttons-wrapper {
        flex-direction: column;
    }


    #order-by {
        padding: 3px 0px;
        font-size: 1em;
        width: 30%;
    }


    /** Estilos específicos para el filtro de Gestión de Docentes */
    body[data-page-type="professors-management"] #order-by {
        width:90px;
        align-self: center;
    }


    /* Botones de estado */
    .status-buttons-wrapper > button {
        width: 6.2em;
        padding: 5px 0px;
        align-self: center;
    }

    /* Botones de acción */
    .action-buttons-wrapper {gap: .5em;}
    .action-buttons-wrapper button {
        width: 28px;
        height: 28px;
    }
    .action-buttons-wrapper i {font-size: 1.8em;}
    .delete {font-size: .85em;}


    /* Seccion de la tabla */
    .table {
        width: 100%;
    }
    .table th, .table td {
        font-size: 8px;
    }

    /* * Cambios para la tabla de Gestión de Estudiantes */
    #students-table th, #students-table td {
        padding: 5px .2em;
    }

    /* * Cambios para la tabla de Gestión de Docentes */
    #professors-table th, #professors-table td {padding: 1em .3em;}
    #professors-table th, #professors-table td {padding: 1em .3em;}
    .badge {
        white-space: wrap;
        padding: .5em .3em;
        margin-bottom: .5em;
        font-size: .95em;
        overflow: visible;
        line-height: 1.5;
        height: auto;
    }
}















/* --- DEL MÓDULO DE GESTIÓN DE DOCENTES --- */
/* --- ESTILOS PARA EL FORMULARIO DE REGISTRO Y EDICIÓN DE DOCENTE --- */
.form-section {
    background-color: rgb(227, 231, 240);
    width: 40%;
    margin: 50px auto 150px;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-section__title {
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
    padding: 1.2rem 1.4em;
    color: aliceblue;
    text-align: center;
    font-size: 1.75em;
}
.form-profesor, .form-profesor-edicion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 87%;
    margin: auto;
}
.form-profesor label, .form-profesor-edicion label {
    align-self: flex-start;
    margin-top: 0.5em;
}
.form-profesor input, .form-profesor select,
.form-profesor-edicion input, .form-profesor-edicion select {
    width: 100%;
    padding: 0.6em;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f8f9fa;
    color: #333;
}
/* * Evita que oculte la recontruccion de los formularios y checkboxes */
#edit-form-wrapper .asignaturas-container {
    display: flex !important;
    flex-direction: column;
    gap: 40px;
    margin: 10px 0 30px;
}
.form-profesor select:focus, .form-profesor input:focus,
.form-profesor-edicion input:focus, .form-profesor-edicion select:focus {
    outline: none;
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}
/* Estilos para el bloque de Asignaturas (Materias y Año y Sección) */
.asignaturas-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px 0 30px;
}
.asignatura {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.materia, .anio-seccion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.anio-seccion .checkbox-scroll-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.6em;
    max-height: 120px;
    overflow-y: auto;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #3f404169;
}
.anio-seccion .checkbox-scroll-grid label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.6em;
    font-weight: normal;
    color: white;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/** Botones del formulario */
/* Estilos para el botón de agregar otra asignatura */
#new-asignature, #new-asignature-edition-form, #delete-asignature, #delete-asignature-edition-form {
    padding: 0.5em 1em;
    margin: auto;
    margin-bottom: 15px;
    background-color: #376bb9;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
#new-asignature:hover, #new-asignature-edition-form:hover {background-color: #2a589c;}
#delete-asignature, #delete-asignature-edition-form {background-color: #b12d2d;}
#delete-asignature:hover, #delete-asignature-edition-form:hover {background-color: #8f2121;}

/* Bótón para eliminar la asignatura en cuestión */
.remove-button {
    background: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
}


.form-buttons-wrapper {
    display: flex;
    gap: 20px;
    margin: 30px auto 20px;
}

.form-profesor button.save, .form-profesor button#cancel-create,
.form-profesor-edicion button.save, .form-profesor-edicion button#cancel-edit {
    padding: 0.8em 1.2em;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


/* Estilos específicos del botón para agregar/guardar */
.form-profesor button.save, .form-profesor-edicion button.save {background-color: #37b958;}
.form-profesor button.save:hover, .form-profesor-edicion button.save:hover {background-color: #2c9647;}


/* Estilos específicos del botón para cancelar */
.form-profesor button#cancel-create, .form-profesor-edicion button#cancel-edit {background-color: #54595c;}
.form-profesor button#cancel-create:hover, .form-profesor-edicion button#cancel-edit:hover {background-color: #3f4041;}




/* Estilo para el contenedor del mensaje de error */
.error-message {
    background-color: #ffe0e0;
    color: #b30000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

/** Estilos específicos para el contenedor del mensaje de error del formulario de editar */
main .error-message {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}


/* Responsive */
@media (width <= 768px) {
    #create-form-wrapper, #edit-form-wrapper {
        width: 90%;
        margin-bottom: 100px;
    }
}








/* --- DEL MÓDULO DE GESTIÓN DE ESTUDIANTES --- */
/* --- ESTILOS PARA EL FORMULARIO DE EDICIÓN DE CALIFICACIONES Y ASISTENCIAS -- */
.form-section {
    background-color: rgb(227, 231, 240);
    width: 40%;
    margin: 50px auto 150px;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-section__title {
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
    padding: 1.2rem 1.4em;
    color: aliceblue;
    text-align: center;
    font-size: 1.75em;
}

.form-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 90%;
    margin: 1.5em auto auto;
}

/* Estilos generales de los inputs/select */
.form-student input, .form-student select {
    width: 100%;
    padding: 0.6em;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f8f9fa;
    color: #333;
}
.form-student input:focus, .form-student select:focus {
    outline: none;
    border-color: var(--highlither);
    box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}

/* Estilos para el bloque de Datos del Estudiante */
#student-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#student-information input:hover {
    cursor: not-allowed;
}


/* Estilos para el blogue de Calificaciones y Asistencias */
#assignature-name {
    align-self: auto;
    color: var(--main-color);
    font-weight: bold;
    margin: .5em;
}

fieldset {
    border: .5px solid #ccc;
    border-radius: 3px;
    padding: 1em 1em 1.2em;
    margin-bottom: 1em;
}
legend {
    padding: 0 .5em;
    align-self:normal;
    color: #575656;
}

/* Le da más espacio a los fieldset de las calificaciones e inasistencias */
fieldset:nth-of-type(2), fieldset:nth-of-type(3) {padding: 1.3em 1em 1.5em;}

.califications-container, .absences-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2em;
}
.califications-container input, .absences-container input {
    margin-top: .3em;
}


/* Botones del formulario */
.form-buttons-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-student button.save, .form-student button#cancel-edit {
    padding: 0.8em 1.2em;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


/* Estilos específicos del botón para agregar/guardar */
.form-student button.save {background-color: #37b958;}
.form-student button.save:hover {background-color: #2c9647;}

/* Estilos específicos del botón para cancelar */
.form-student button#cancel-edit {background-color: #54595c;}
.form-student button#cancel-edit:hover {background-color: #3f4041;}


/* Estilo para el contenedor del mensaje de error */
.error-message {
    background-color: #ffe0e0;
    color: #b30000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}